@import '../../sass/colors';

$v-border-radius: 4px;

.search-bar {
    display: flex;
    margin-bottom: 20px;
    width: 400px;

    &__input {
        padding: 10px;
        flex-grow: 1;
        height: 36px;
        border: 1px solid $c-gray-400;
        border-radius: 3px;
        font-size: 14px;

        &:focus {
            border-color: $c-blue-400;
            outline: none;
        }
    }
}
