@import '../../sass/colors';

.search-result {
    padding: 10px 0;

    &__title {
        a {
            color: $c-blue-400;
            font-size: 18px;

            &:visited {
                color: $c-indigo-400;
            }
        }

        margin: 0;
        font-weight: 500;
    }

    &__occurrences {
        color: $c-gray-700;
        font-weight: 700;
    }
}
